* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #ffffff 25%, #ffffff 100%);
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#basquet {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.35), 0 8px 30px 0 rgba(0, 0, 0, 0.20);
    position: relative;
    animation-name: basquet;
    animation-duration: 4s;
    background-color:rgb(252, 182, 31);
}

#basquet h2 {
    color: #e65100; /* Naranja oscuro */
}

#musica {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.35), 0 8px 30px 0 rgba(0, 0, 0, 0.20);    position: relative;
    animation-name: musica;
    animation-duration: 4s;
    background-color:rgb(34, 160, 156);
}

#musica h2 {
    color: #1e88e5; /* Azul más oscuro */
}

#viajar {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.35), 0 8px 30px 0 rgba(0, 0, 0, 0.20);    position: relative;
    animation-name: montana;
    animation-duration: 4s;
    background-color:rgb(51, 160, 18);
}

#viajar h2 {
    color: #2e7d32; /* Verde oscuro */
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

footer p {
    color: #666;
}

/* Estilos Flexbox para las secciones */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Imagen a la izquierda en básquet y viajar */
.imagen-izquierda {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

/* Imagen a la derecha en música */
.imagen-derecha {
    width: 150px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
}

/* Contenido */
.contenido {
    flex: 1;
}


/*Animaciones*/

@keyframes basquet {
    0%   {background-color:rgb(255, 255, 255); opacity:0; left:-500px; top:0px;}
    100% {background-color:rgb(252, 182, 31); opacity:1; left:0px; top:0px;}
}

@keyframes musica {
    0%   {background-color:rgb(255, 255, 255); opacity:0; left:500px; top:0px;}
    100% {background-color:rgb(34, 160, 156); opacity:1; left:0px; top:0px;}
}

@keyframes montana {
    0%   {background-color:rgb(255, 255, 255); opacity:0; left:-500px; top:0px;}
    100% {background-color:rgb(51, 160, 18); opacity:1; left:0px; top:0px;}
}